.App {
  text-align: center;
  margin-top: 400px;
  margin-bottom: 400px;
}

.converter {
  margin: 20px 0;
}

.converter select, .converter input, .converter button {
  margin: 5px;
  padding: 10px;
  font-size: 1.2rem;
}

.result {
  margin-top: 20px;
  font-size: 1.5rem;
}

/* Footer Styles */
.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/*


  background-image: url('/src/img/bg/money.jpg'); 
   background-size: cover;
     background-position: center;

*/